extends layout

block content
	a(href='/') घर जाएँ 
	h1 #{title[0].message}
	p #{link}
	hr
	ul
		each message in comments
			li(id=message.id)
				h3 #{message.message}
				button(onclick=`addThreadId(${message.id})`) प्रत्युत्तर दें
	div(style={height:'200px'})
	
	form(method='POST',action=`/${title[0].id}`, style={background: '#e08631'}).fixed-bottom
		div.form-group.w-75.m-auto
			label(for='message') संदेश:
			textarea(type='text',name='message', rows='5',required)#message.form-control
			button.btn.btn-warning.mt-1(type='submit') भेजें
